<div class="container">
  <div class="row">
    <div class="col-md-offset-1">
      <br>【企業ユーザー一覧】<br><br>
      <% @company.each do |company| %>
        <% if company.permit? %>○<% else %>×<% end %>
        <strong><%= company.name %></strong>
        <strong>(<%= company.email %>) ： </strong>

        <% if company.permit? %>
          <%= link_to "権限を取り消す", companiespermit_adminpage_path(:params_id => company.id), method: :patch,
                                        data: { confirm: "「<strong>#{company.email}</strong>」の権限を取り消しますか？",
                                                             "commit" => "権限を取り消す",
                                                             "cancel" => "やっぱりやめる",
                                                             }, title: "権限削除の確認" %>
        <% else %>
          <%= link_to "権限を付与する", companiespermit_adminpage_path(:params_id => company.id), method: :patch,
                                        data: { confirm: "「<strong>#{company.email}</strong>」に権限を与えてよろしいですか？",
                                                             "commit" => "権限を与える",
                                                             "cancel" => "やっぱりやめる",
                                                             }, title: "権限付与の確認", :style=>"color:red;" %>
        <% end %>
        <br>
      <% end %>
    </div>
  </div>
</div>
