<div class="container">
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <br>
      管理画面<br>
      <li><%= link_to "ユーザー管理", "#" %><br></li>
      <li><%= link_to "記事管理", "#" %><br></li>
    </div>
  </div>
</div>
