<div class="container">
  <div class="row">
    <div class="col-md-offset-1">
      <br>
      【管理画面】<br><br>
      <%= link_to "一般ユーザー管理", userslist_adminpage_path %><br>
      <%= link_to "企業ユーザー管理", companieslist_adminpage_path %><br>
      <%= link_to "記事管理", "#" %><br>
    </div>
  </div>
</div>
